<script lang="ts">
// import HelloWorld from './components/HelloWorld.vue'

export default {
	data() {
		return {
			search: '',
			mydata: [
			],
			inputs: {
				description: '',
				date: '',
			},
			editing_inputs: {
				description: '',
				date: '',
			},
			editing_index: -1,
			searchdata: [...new Set(["Happiness","Pride","Excitement","Peace","Satisfaction","Acceptance","Affection","Joy","Compassion","Adoration","Desire","Grateful","Love","Humble","Contentment","Empathetic","Amusement","Appreciative","Confident","Optimistic","Cheerful","Carefree","Sweet","Kind","Loyal","Lust","Gladsomeness","Goofy","Inspired","Enchanted","Funny","Friendly","Calm","Sensual","Awe","Warm","Romantic","Aware","Comfortable","Free","Courageous","Hopeful","Fascinated","Tender","Proud","Relief","Eager","Sexy","Understanding","Patient","Surprised","Wonder","Amazed","Sentimental","Focused","Determined","Fearful","Grieved","Distracted","Baffled","Needy","Lost","Self-pity","Pessimistic","Hysteria","Withdrawal","Worried","Doubtful","Frazzled","Sorrow","Curious","Guilt","Apologetic","Horrified","Overwhelmed","Nervous","Anxious","Terrified","Cautious","Panicked","Alienated","Challenged","Jealous","Fraud (feeling like a)","Stressed","Agony","Umpty","Shock","Desperate","Confused","Alone","Tense","Curious","Suspicious","Paranoid","Reluctant","Skeptical","Sulkiness","Horror","Sadness","Unhappy","Emptiness","Misery","Aching","Insecure","Apathetic","Defeated","Pity","Submissive","Lonely","Melancholy","Heartbroken","Depressed","Worn out","Glum","Cowardly","Gloomy","Hurting","Disappointed","Tired","Lovesick","Left out","Resigned","Miserable","Shy","Vulnerable","Yearning","Nostalgia","Remorse","Pensive","Protective","Dismay","Distress","Wanderlust","Anger","Annoyed","Bitter","Frustrated","Dislike","Spite","Uncomfortable","Offended","Bitter","Infuriated","Rage","Cheated","Vengeful","Impatient","Disgust","Animosity","Insulted","Cold","Envy","Uneasy","Loathe","Hopeless","Troubled","Embarrassed","Boredom","Wrath","Disapproval","Craving","Outrage","Awkward","Resentment","Lazy","Mean","Hatred","Cranky","Aggressive","Horror","Vigilant","Pity","Cruel","Resentful","Disgust","Delirious","Denial","Obsessed","Defensive","Destructive"])],
		}
	},
	methods: {
		submit() {
			if( /^\s*$/.test(this.inputs.description) ) {
				return;
			}
			this.date_input_helper();
			this.mydata.push(
			{
				description: this.inputs.description,
				date: this.inputs.date
			});
			this.inputs.description = '';
			this.inputs.date = '';
		},
		date_input_helper() {
			this.inputs.date = this.$refs['date-input'].value;
		}
	},
	computed: {
		results() {
			return this.searchdata.filter( entry => entry.toLowerCase().indexOf(this.search) !== -1 );
		}
	},
	created() {
	}
}
</script>

<template>
	<div id="app-display">
		<span class="title">Charon</span>
		<table>
			<colgroup>
				<col style="width: calc(100%/8);">
				<col style="width: calc(700%/16);">
				<col style="width: calc(700%/16);">
			</colgroup>
			<tr v-for="(entry, index) in mydata" :key="entry" @click.right="(e) => { e.preventDefault(); editing_index = index} ">
				<td>{{ index }}</td>
				<td>{{ entry.description }}</td>
				<td>{{ entry.date ? entry.date.toLocaleString() : '' }}</td>
			</tr>
			<tr>
				<td></td>
				<td><input v-model="inputs.description" type="text" @keyup.ctrl.enter="submit"/></td>
				<td><input ref="date-input" type="date" @input="date_input_helper" @keyup.ctrl.enter="submit"/></td>
			</tr>
		</table>
	</div>
	<div class="popup" v-if="editing_index !== -1">
		<span class="title">Edit</span>
		<div><span>Description: </span><input type="text" v-model="editing_inputs.description"></div>
		<div><span>Date: </span><input type="text" v-model="editing_inputs.description"></div>
	</div>
	<div style="position: absolute; margin: 200px;" >
		<input type="text" v-model="search"/>
		<div id="searchresults">
			<ul>
				<li v-for="result in results" :key="result">
					{{ result }}
				</li>
			</ul>
		</div>
	</div>
</template>

<style>
#app {
	font: 14px sans-serif;
}
#app-display {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	margin: 2%;
}
.title {
	font: 24px sans-serif;
	font-weight: bold;
}
div.popup {
	position: absolute;
	margin: 5%;
	border: 2px solid black;
}
table {
	table-layout: fixed;
	margin: 10px;
}
table, tr, td {
	border: 1px solid lightgray;
}
td {
	padding: 2%;
}
</style>
